<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/baseDashboard.css')}}">
    <script src="https://kit.fontawesome.com/dc694244d4.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>

<body>
    <div class="modal" id="ventanaModal">
        <div id='modalCrearEmpleado'>
            <div class="titulo">
                <h1>Crear Empleado</h1>
            </div>
            <div class='contenido_modal'>
                <form action='/CrearEmpleado' method='POST' id='form_crearEmpleado'>
                    {{form.hidden_tag()}}
                    {{ csrf_token }}

                    {{ formModal.Cedula.label }}
                    {{ formModal.Cedula() }}

                    {{ formModal.Nombre.label }}
                    {{ formModal.Nombre() }}

                    {{ formModal.Apellido.label }}
                    {{ formModal.Apellido() }}

                    {{ formModal.Telefono.label }}
                    {{ formModal.Telefono() }}

                    {{ formModal.Salario.label }}
                    {{ formModal.Salario() }}

                    {{ formModal.Dependecia.label }}
                    {{ formModal.Dependecia() }}

                    {{ formModal.Fecha_ingreso.label }}
                    {{ formModal.Fecha_ingreso() }}

                    {{ formModal.Fecha_terminacion.label }}
                    {{ formModal.Fecha_terminacion() }}

                    {{ formModal.Tipo_contrato.label }}
                    {{ formModal.Tipo_contrato() }}

                    {{ formModal.Rol.label }}
                    {{ formModal.Rol() }}

                    {{ formModal.Usuario.label }}
                    {{ formModal.Usuario() }}

                    {{ formModal.contrasena.label }}
                    {{ formModal.contrasena() }}

                    <div class='btnFormEmpleado'>
                        {{ formModal.Guardar() }}
                        <a id='CerrarModal'>Cerrar</a>

                    </div>
                </form>
            </div>

        </div>
    </div>
    <main>
        <aside class="opciones_usuario">
            <p id="name_usuario"> {{ informacion[1] }} {{ informacion[2] }}</p>
            <img src="../static/image/user.png" id="img_user" alt="" srcset="">
            <div class="opciones_userActual">
                <ul>
                    <a href="/Dashboard/informacion_personal">Ver información</a>
                    <a href="/Dashboard/ver_retroalimentacion">Ver retroalimentación</a>
                    {% if informacion[3] != 1 %}
                        <a href="/Dashboard/lista_empleados">Listar empleados</a>
                    {% endif %}
                    <a href="/logout">Salir</a>
                </ul>
                {% block opcionesUser %}
                {% endblock %}
            </div>
        </aside>
        <section class="dashboard">
            <div class="cabezera_dash">
                <div class="box_SGE">
                    <label for="">SGE</label>
                </div>
                <div class="messaje_rol">
                    <p for="" style="font-weight: bold;">{{ informacion[4] }}</p>
                </div>
                <div class="box_search">
                    <form action="" method="post" id="form_search">
                        {{form.hidden_tag()}}
                        {{ csrf_token }}
                        {{ form.search()}}
                        <i class="fas fa-search"></i>
                    </form>
                </div>
            </div>
            <div class="dashboard_user">
                <div class="box-crearUser">
                    <a id="crearEmpleado">Crear empleado</a>
                </div>
                <div class="box-contenidoDash">
                    {% block contenidodash %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </main>
</body>
<script src="{{url_for('static', filename='js/modal.js')}}"></script>
</html>